/*ШРИФТЫ*/
@font-face {
    font-family: Panton;
    src: url("./fonts/Panton-SemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Panton;
    src: url("./fonts/Panton-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Panton;
    src: url("./fonts/Panton-ExtraBold.otf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Panton;
    src: url("./fonts/Panton-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Panton;
    src: url("./fonts/Panton-Black.otf");
    font-weight: 900;
    font-style: normal;
}





body {
    margin: 0;
    font-family: Panton, serif;
    font-weight: 400;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button {
    display: block;
}

.header {
    min-width: 1200px;
}

.header-top {
    background-color: #1D1E1E;
    margin-bottom: 40px;

}

.header-top-menu {
    display: flex;
}

.header-top-menu__item {
    list-style-type: none;
    margin-right: 68px;
    font-size: 14px;
    letter-spacing: 0.025em;

}

.top-menu__link {
    text-decoration: none;
    color: #FFFFFF;


}

.header-top-menu__item:last-child {
    margin-right: 0;
}
.container {
    max-width: 1140px;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-top_inner {
    display: flex;
    padding-top: 11px;
    padding-bottom: 11px;
    justify-content: space-between;

}

.phone {
    display: flex;
}


.phone__text {
    color:#FFFFFF;
    font-size: 13px;
    letter-spacing: 0.025em;
}
.phone__number {
    color: #009EE2;
    font-family: Panton;
    font-weight: 700;
    letter-spacing: 0.025em;
    font-size: 20px;
    margin-left: 31px;


}

.header-bottom {
    display: flex;
}
.header-bottom__logo {
    margin-right: 31px;
}

.header-bottom__logo>img {
    display: block;
}
.search {
    box-sizing: border-box;
    width: 556px;

}

.search__field {
    width: 556px;
    box-sizing: border-box;
    padding: 0 25px;
    height: 42px;
    border: 1px solid #DDDDDD;
    background-image: url(./img/search.jpg);
    background-position: right 19px center;
    background-repeat: no-repeat;
    font-family: Panton;
}

::placeholder {
    font-size: 14px;
    color: #1D1E1E;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.btns {
    margin-left: 48px;
    display: flex;

}
.header-buttons__item {
    margin-right: 70px;
    display: flex;
}

.header-buttons__item:last-child {
    margin-right: 0;
}





.header-buttons__link {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    display: inline-block;
}

.header-buttons_profile {
    background-image: url("./img/profile.svg");
}

.header-buttons_like {
    background-image: url("./img/likes.svg");
}

.header-buttons_cart {
    background-image: url("./img/cart.svg");
}

.count {
    margin-left: 3px;
    font-size: 16px;
    color: #009EE2;
}

.main-top {
    background-color: #EFEFEF;
    margin-top: 31px;
}

.main-top-inner {
    display: flex;
    justify-content: space-between;
}

.main-top__catalog {
    display: flex;
    width: 263px;
    align-items: center;
    background: linear-gradient(to right,#048AC3, #37BDEC);
    justify-content: space-between;
}

.catalogue-activator {
    width: 25px;
    height: 18px;
    background-image: url("./img/menu_activator.png");
    background-size: 20px;
    background-position: center;
    margin-left: 17px;
}

.catalogue-link {
    font-weight: 600;
    color:#fff;
    font-size: 18px;
    letter-spacing: 0.05em;
    display: block;
    padding-right: 54px;


}
.main-menu {
    display: flex;
    padding-bottom: 24px;
    padding-top: 24px;
}

.main-menu__item {
    margin-right: 90px;

}
.main-menu__item:last-child {
    margin-right: 0;
}
.menu-item__link {
    text-decoration: none;
    font-size: 14px;
    color:#1D1E1E;
    font-weight: 700;
    text-transform: uppercase;


}

.menu-item__link:last-child {
    margin-right: 0;
}
.sidebar {
    width: 23.07%;

}
.sidebar-menu__item {
    display: block;
    background-color: #EFEFEF;
    margin-bottom: 1px;
}
.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.sidebar-menu__link {
    color: #1D1E1E;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 60px;

}

.offers {
    width: 74.3%;
    margin-bottom: 140px;
}

.special-offer {
    background: linear-gradient(to right,#048AC3, #37BDEC);
    position: relative;


}

.special-offer__information {
    width: 37.66%;
    padding-left: 4.84%;
    padding-top: 54px;
    padding-bottom: 81px;


}
.special-offer__title {
    color: #fff;
    font-size: 40px;
    margin: 0;
    letter-spacing: 7px;
    font-weight: 800;

}

.special-offer__subtitle {
    color: #4BD1FE;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.special-offer__price {
    color:#FFFFFF;
    font-size: 30px;
    padding-bottom: 21px;
    display: block;
}
.btn {
    display: flex;
    background-color: #1D1E1E;
    align-items: center;
    justify-content: center;
    width: 54.375%;
    height: 53.75px;
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 4px;
}

.special-offer__img {
    display: block;
    position: absolute;
    right: calc(50% - 26.5vw);
    top: -21px;
}

.offer-cards {
    display: flex;
    margin-top: 29px;
    justify-content: space-between;

}

.offer-cards__item {
    width: 30.93%;
    background: linear-gradient(to right,#048AC3, #37BDEC);
    padding-bottom: 15px;


}
.offer-card__info {
    width: 48.13%;
    padding-left: 10.75%;


}

.offer-card__title {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 6px;

}

.offer-card__description {
    color: #4CD2FE;
}

.offer-card__open {
    background-image: url("./img/Rarrow.png");
    width: 25px;
    height: 25px;
    background-size: 20px;
    background-position: center;
    display: block;
    background-repeat: no-repeat;
    margin-top: 11px;
}

.bait-card,.catalog-card,.expert-card {
    position: relative;
}

.bait-img {
    position: absolute;
    top: -15px;
    left: 120px;
}

.expert-img {
    position: absolute;
    top: -30px;
    left: 0;
}

.cat-img {
    position: absolute;
    top: -7px;
    left: 145px;
}

.section-top {
    display: flex;
    justify-content: space-between;
}

.titleblock {
    display: flex;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
    color: #1D1E1E;
    margin: 0 25px 0 0;
    letter-spacing: 2px;
    text-transform: uppercase;


}

.hits__link {
    color: #009EE2;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 24px;
    letter-spacing: 1.9px;
}

.arrowblock {
    display: flex;
    padding-top: 6px;
}

.arrow {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 20px;

}

.left-arrow {
    background-image: url("./img/Larrow.png");
}

.right-arrow {
    background-image: url("./img/Rarrow.png");
}

.hits-cards {
    display: flex;
    margin-top: 41.1px;
    justify-content: space-between;
}
.hit-card {
    width: 23.073%;
    box-shadow: 0 18px 21px #d6d6d6;
}

.hit-card__content {
    width: 85.2%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 13px;
    position: relative;

}

.hit-card__title span {
    display: block;
}

.hit-card__title {
    font-weight: 600;
    margin: 0 0 5px;
}

.hit-card__stars {
    display: flex;
    margin-top: 57px;
    margin-bottom: 5px;
}

.star {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("./img/star.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.star_unmarked {
    background-image: url("./img/unmarked_star.png");
}

.hit-card__price {
    margin-bottom: 27px;
}
.actual-price {
    color: #000;
    font-weight: 800;
    font-size: 16px;
}

.buy-btn {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
    background: linear-gradient(to right, #3AC0EF, #0187C1);
    text-decoration: none;
    margin: 0 auto;
    width: 100%;

}

.photo {
    object-fit: none;
    object-position: 50% 50%;
    display: block;
    height: 199px;
    width: 100%;
    outline: solid rebeccapurple 1px;
    overflow-y: hidden;

}

.bestsell-card {
    background-color: #009ee2;

}

.bestsell-card__title {
    font-size: 33px;
    font-weight: 800;
    color: #FFFFFF;
    letter-spacing: 0.82px;
    margin-left: 21px;
    margin-top: 17px;
    margin-bottom: 0;

}

.bestsell-card__subtitle {
    width: 42.41%;
    color: #4cd2fe;
    line-height: 30px;
    letter-spacing: 0.55px;
    margin-left: 21px;
    margin-top: 0;
    margin-bottom: -49px;
}

.bestsell-card img {
    display: block;
    object-position: 7% 50%;
    object-fit: none;
    width: 100%;
    height: 293px;
}

.bestsell-card__price {
    font-size: 30px;
    color: #FFFFFF;
    display: block;
    margin-left: 30px;

}

.profit {
    display: block;
    color: #00963F;
    font-size: 12px;
    font-weight: 600;
}

.hit-card__photo::after {
    content: "Хит";
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 800;
    position: absolute;
    background: linear-gradient(to right, #3AC0EF, #0187C1);
    top: 38px;
    left: -20px;
    display: block;
    width: 58px;
    padding-top: 12.6px;
    padding-bottom: 10.4px;
    text-transform: uppercase;
    text-align: center;

}

.hit-card__photo {
    position: relative;
}

.new-goods {
    margin-top: 137px;
}

.discount .hit-card__photo::before {
    content: 'Скидка';
    position: absolute;
    display: block;
    background-color: #00963F;
    width: 83px;
    text-transform: uppercase;
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 800;

}

.sale {
    position: relative;
}

.sale::after {
    content: "-30%";
    position: absolute;
    font-size: 95px;
    font-weight: 800;
    color: #FFFFFF;
    opacity: 0.22;
    top: 0;
    left: 0;

}

.last-news {
    margin-top: 137px;
}

.last-news h2 {
    margin-bottom: 53px;
}

.news__card {
    width: 31.579%;
    position: relative;


}

.news__title {
    font-size: 16px;
    font-weight: 800;
    color: #1D1E1E;
    text-transform: uppercase;
}

.news__photo img {
    object-fit: contain;
}

.news__photo {
    height: 209px;
}

.news__text-content {
    margin-left: 25px;
    margin-right: 38px;
    width: 78.61%;
}

.news__text {
    font-size: 13px;
    letter-spacing: 0.33px;
    line-height: 22px;
    color: #1d1e1e;;
}

.news__text-content .hits__link {
    padding: 0;
}

.news__text {
    margin-bottom: -12px;
}

.news__date {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #1D1E1E;
    width: 98px;
    text-align: center;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
}

.news {
    display: flex;
    justify-content: space-between;
}

.news__card {
    box-shadow: 0 18px 21px rgba(0, 0, 0, 0.09);
    padding-bottom: 24px;

}

.subscribe {
    margin-top: 50px;
}

.subscribe__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.subscribe__field {
    width: 77%;
    font-family: Panton;
    color: #6f6f6f;
    font-weight: 600;
    font-size: 18px;
    background-color: #fff;
    padding: 22px 32px;
    box-sizing: border-box;

}

.subscribe-form {
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.subscribe-form .buy-btn {
    width: 22.98%;
}

.subscriber {
    display: flex;

}

.discount-sale {
    margin-top: 101px;
}

.discount-sale__card {
    width: 48.68%;
    background: linear-gradient(to right, #048AC3, #37BDEC);
    position: relative;
    padding-bottom: 40px;


}

.discount-sale__title {
    margin-top: 0;
    padding-left: 36px;
    padding-top: 38px;
    padding-bottom: 9px;
}

.discount-sale__heading {
    display: block;
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
}

.discount-sale__end-date {
    font-weight: 600;
    font-size: 22px;
    color: #5DD5FE;
    position: absolute;
    top: 60px;
    left: 42.909%;
}

.discount-sale__procent {
    position: absolute;
    font-size: 95px;
    font-weight: 800;
    color: #FFFFFF;
    opacity: 0.22;
    top: 160px;
    left: 25.2727%;
}

.discount-sale__card .offer-card__open {
    width: 36.5px;
    height: 36.5px;
    background-size: 36px;
    margin-left: 50px;
    background-position: 0 0;
    margin-top: 35px;
}

.discount__photo {
    position: absolute;
    top: -28px;
    left: 51.8181%;
    height: 297px;
    display: inline;
}

.discount__photo img {
}

.discount-sale {
    display: flex;
    justify-content: space-between;
}

.katushka-card .discount__photo {
    position: absolute;
    top: 24px;
    left: 61.8181%;
    height: 297px;
    display: inline;
}

.about {
    margin-top: 93px;
    margin-bottom: 52px;

}

.about__content {
    color: #1d1e1e;
    line-height: 25px;
    font-size: 14px;
    letter-spacing: 0.33px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.about__side-block {
    width: 48.3333%;
}

.footer {
    margin-top: 91px;
    background-color: #1D1E1E;
    padding-top: 63px;
}

.footer-content {
    display: flex;
}

.footer-content__logotype {
    color: #6d6d6d;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 4.5px;
    margin-top: 0;
}

.footer-content__logo {
    text-transform: uppercase;
}

.footer-content__type {
    margin-left: -10px;
}

.footer-content__subtitle {
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    display: block;
    width: 76.3%;
    opacity: 0.5;
}

.footer-linkblock__item {
    font-size: 14px;
    font-weight: 700;
    color: #009BE1;
    display: block;
}

.footer-linkblock__item:first-child {
    margin-bottom: 18px;
}

.footer__section-heading {
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer__menu-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer-menu__item {
    margin-bottom: 13px;
}

.footer__footer-menu {
    margin-left: 128px;
    margin-top: -10px;
    display: flex;
}

nav .footer-menu__item:last-child, address .footer-menu__item:last-child {
    margin-bottom: 0;
}

.for-buyers {
    margin-left: 112px;
}

.b2b .footer-menu__item {
    font-size: 12px;
}

.e-mail-link {
    text-transform: lowercase;
    color: #009add;
    text-decoration: underline;
    font-size: 15px;
}

address {
    font-style: normal;
}

.b2b {
    margin-left: 129px;
}